/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

 .oajrlxb2.g5ia77u1.qu0x051f.esr5mh6w.e9989ue4.r7d6kgcz.rq0escxv.nhd2j8a9.nc684nl6.p7hjln8o.kvgmc6g5.cxmmr5t8.oygrvhab.hcukyx3x.jb3vyjys.rz4wbd8a.qt6c0cv9.a8nywdso.i1ao9s8h.esuyzwwr.f1sip0of.lzcic4wl.gmql0nx0.gpro0wi8.b1v8xokw[href*="/ads/"],
 .a_gi8ra4rwu.i_gi8ra7fc9 {
    color: white !important;
    font-weight: bold !important;
    border-radius: 100px !important;
    text-transform: uppercase !important;
    background: #1877f2 !important;
    line-height: 25px !important;
    box-sizing: border-box !important;
    width: 90% !important;
    display: inline-block !important;
    text-align: center !important;
 }