/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

* {
	font-family: sans-serif;
}

fieldset {
	border: 2px solid #FF3333;
	border-radius: 5px;
	font-size:12pt;
	line-height:2em;
}

legend {
	padding:5px 10px;
	font-size:18pt;
	border:none;
	margin: 0px 0px 5px 0px;
	border-radius: 10px;
	color: #FFF;
	text-decoration: none;
	transition: all 0.1s;
	box-sizing:border-box;
	background-color: #FF3333;
	border-bottom: 5px solid #CC0000;
	text-shadow: 0px -2px #CC0000;
}

.note {
	background-color:#FFD9B3;
	color:#FF9933;
	border-left:5px solid #FF9933;
	padding:2px 5px;
	font-size:80%;
}